		<div class="article">
			<div class="news-article-heading-wrap">
				<div class="news-article-heading-image">
					<img src="images/logo-ddf2.png">
				</div>
				<h2 class="news-title">Connexta, LLC awarded task orders under the Distributed Common Ground/Surface System (DCGS) Integration Backbone (DIB) Development 5th Edition. </h2>
			</div>

			<span class="publish-date"><strong>Date:</strong> 16 April 2019</span>

            {{ post.excerpt }}

            <p>Content here</p>
            
            <p>Content here</p>
            <p>Content here</p>
            <p>Content here</p>
            <p>Content here</p>
            <p>Content here</p>
            <p>Content here</p>
            <h2><a href="{{ post.url }}">link</a></h2>

		</div>